snippet pl System.out.println()
	System.out.println(${1});${0}

snippet p System.out.print()
	System.out.print(${1});${0}

snippet pf System.out.printf()
	System.out.printf("${1}", ${2});${0}

snippet psf public static final
	public static final ${1:#type} ${2:#name} = ${3:#val};${0}
