snippet ruby #!/usr/bin/env ruby
	#!/usr/bin/env ruby

	${0}

snippet p print
	print "${1}\n"

snippet int interpolation #{foo}
	#{${1}}${0}

snippet initialize initialize
	def initialize${0}
	end

snippet optparse Optparse
	opts = {}
	OptionParser.new do |opt|
		opt.banner = "Usage: #{File.basename($PROGRAM_NAME)} [
		opt.on('-${1:short}', '--${2:long}',
				'${3:desc}') do${4: |val|}
			opts[${5}] = '${6}'
		end

		opt.parse!(ARGV)
	end
