snippet	sh #!/bin/sh
	#!/bin/sh
	${0}

snippet	getopts while getopts
	while getopts "h${1:}" flag; do
		case "$flag" in
			${2:option})
				${3:SOME_VAR}="${4:value}"
				;;
			h)
				echo "Usage: $0 [-h] [${2}]"
				exit 0
		esac

	done
	shift $(( $OPTIND - 1 ))
