snippet		sh #!/bin/sh
	#!/bin/sh
	${0}

snippet		getopts while getopts
	while getopts '${1:h}' flag; do
		case "$flag" in
			${2:#flag})
				${3:init}
				;;
			h)
				echo "Usage: \$0 [-h] ${0}"
				exit 0
		esac

	done
	shift $(( $OPTIND - 1 ))
