# Check Operating System
case `uname -s` in
    Darwin)
        alias ls='ls -G'
        export GREP_OPTIONS='--color=auto'
        export GREP_COLOR='1;37;31'
        ;;
    *)
        alias ls='ls --color=auto'
        alias grep='grep --color=auto'
        ;;
esac

# This is a file of aliases
#alias "sudo vim"="sudoedit"
# sudo vi /some/file    --> sudoedit
sudo() {
    if [ $1 = "root" ] && {[ $2 = "vi" ] || [ $2 = "vim" ]}; then
        shift
        shift
        command sudo vim "$@"
    elif [ $1 = "vi" ] || [ $1 = "vim" ]; then
        shift
        command sudoedit "$@"
    else
        command sudo "$@"
    fi
}

# Aliases for ls
alias lsl='ls -l'
alias l='ls -l'
alias lal='ls -Al'
alias la='ls -A'
alias ll='ls -CF'
alias lh='ls -lh'

# Alias for g++
alias gpp='g++'

# Aliases for grep
alias fgrep='grep -F'
alias egrep='grep -E'

# emacs is too long to type!
alias em='emacs -nw'

# If shell is zsh
if [[ $SHELL =~ zsh ]]; then
    # Global alias
    alias -g G='| grep'

    alias -g dn='1>/dev/null 2>&1'
fi
