# Vim swap files
*.swp
# Ignore backup files (keep it local!)
.vim/backups/
.vim/view/
.vim/undo/
.vim/spell/
.vim/bundle/*
!.vim/bundle/.keep
.vim/.netrwhist

.emacs.d/*
!.emacs.d/snippets
!.emacs.d/init.el

.xmonad/*
!.xmonad/xmonad.hs
*.un~
