# Important files that need to be hidden
.gitconfig

# Vim swap files
*.swp
*.swo
*.un~

# Vim
vim/vim/backups/
vim/vim/view/
vim/vim/undo/
vim/vim/spell/
vim/vim/bundle/*
!vim/vim/bundle/.keep
vim/vim/.netrwhist

# NeoVim
vim/nvim/backups/
vim/nvim/view/
vim/nvim/undo/
vim/nvim/spell/
vim/nvim/bundle/*
!vim/nvim/bundle/.keep
vim/nvim/.netrwhist

# Emacs
emacs/emacs.d/*
!emacs/emacs.d/snippets
!emacs/emacs.d/init.el
!emacs/emacs.d/inits

# X11
X/xmonad/*
!X/xmonad/xmonad.hs
