# Vim swap files
*.swp
# Vim
.vim/backups/
.vim/view/
.vim/undo/
.vim/spell/
.vim/bundle/*
!.vim/bundle/.keep
.vim/.netrwhist
# NeoVim
.nvim/backups/
.nvim/view/
.nvim/undo/
.nvim/spell/
.nvim/bundle/*
!.nvim/bundle/.keep
.nvim/.netrwhist

.emacs.d/*
!.emacs.d/snippets
!.emacs.d/init.el
!.emacs.d/inits

.xmonad/*
!.xmonad/xmonad.hs
*.un~
